<%- include('../layouts/navbar') %>

<link rel="stylesheet" href="/css/form.css">
<div class="container form-container mt-3 p-5">
    <h1 class="text-center form-heading">Edit Campground - <span class="text-capitalize"><%= campground.name %></span></h1>
    <form action="<%= `/campgrounds/${campground._id}?_method=PUT` %>" method="post">
        <div class="form-group">
            <label for="name">Campground Name</label>
            <input type="text" class="form-control" id="name" name="camp[name]" value="<%= campground.name %>" required> 
        </div>

        <div class="form-group">
            <label for="image">Campground Image URL</label>
            <input type="url" class="form-control" id="image" name="camp[image]" value="<%= campground.image %>" required> 
        </div>

        <div class="form-group">
            <label for="price">Campground Price per Night</label>
            <input type="number" class="form-control" id="price" name="camp[price]" value="<%= campground.price %>" min="0.01" step="0.01" required> 
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="camp[description]" rows="3"><%= campground.description %></textarea>
        </div>

        <button type="submit" class="btn btn-success">Update</button>

        <a class="text-center text-success back-link" href="<%= `/campgrounds/${campground._id}` %>">Go Back</a>
    </form>
</div>

<%-include('../layouts/footer')%>