<%- include('../layouts/navbar') %>

<link rel="stylesheet" href="/css/gallery.css">

<div class="container-fluid p-3">
    <h2 class="text-center">The Gallery</h2>
</div>

<div class="container-fluid gallery mb-3">
    <% images.forEach(function(data){ %>
        <div class="img-container position-relative">
            <img src="<%= data.image %>" alt="<%= data.name %>" class="pics w-100 h-auto">
            <p class="camp-name text-center position-absolute font-weight-bold overflow-hidden"><a href="<%= `/campgrounds/${data.id}` %>"><%= data.name %></span></p>
            </div>
    <% }); %>
</div>

<%- include('../layouts/footer')%>